@model IEnumerable<BouquetStore.Domain.Entities.Product>

@{
    ViewBag.Title = "Редактировать продукты";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel-group" id="accordion">

            @foreach (var item in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="pull-left">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse@(++i)">
                                    @item.Name
                                </a>
                            </div>
                            <div class="pull-right">@item.Price.ToString("c")</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div id="collapse@(i)" class="panel-collapse collapse @(i == 1 ? "in" : "")">
                        <div class="panel-body">
                            <p>@item.Description</p>
                            <img src="@Url.Action("GetImage", "Product", new { productId = item.ProductID })" />
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="pull-left">
                            @using (Html.BeginForm("Delete", "Admin"))
                            {
                                @Html.Hidden("ProductID", item.ProductID)
                                <input type="submit"
                                       class="btn btn-danger"
                                       value="Удалить" />
                            }
                        </div>
                        <div class="pull-right">@Html.ActionLink("Редактировать", "Edit", new { item.ProductID }, new { @class = "btn btn-warning" })</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-2">
            @Html.ActionLink("Добавить букет", "Create", null,
                            new { @class = "btn btn-default" })
    </div>
</div>
