@using BouquetStore.WebUI.Models
@model ProductsListViewModel

@{
    ViewBag.Title = "Редактировать продукты";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}
<div class="container">
    <div class="col-md-2">
        @Html.Action("ProductCategories", "Nav", new { caller = "Admin", actionName = "Index" })
    </div>
    <div class="col-md-8">
        <h2>Все букеты</h2>
        <div class="panel-group" id="accordion">

            @foreach (var item in Model.Products)
            {
                <div class="panel panel-default rel-position custom-panel">
                <img class="img-thumbnail hidden show-on-hover" src="@Url.Action("GetImage", "Product", new { productId = item.ProductID })" />
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="pull-left">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse@(++i)">
                                    @item.Name
                                </a>
                            </div>
                            @if (item.IsSeasonPromo)
                            {
                                <span class="label label-danger">СЕЗОННОЕ</span>
                            }
                            <div class="pull-right">
                                @using (Html.BeginForm("Delete", "Admin", FormMethod.Post, new { onsubmit="return confirm(\"Вы уверены?\");" }))
                                {
                                    @Html.Hidden("productID", item.ProductID)
                                    <label for="submit-delete+@item.ProductID.ToString()" class="btn btn-product-header"><span class="glyphicon glyphicon-remove"></span></label>
                                    <input id="submit-delete+@item.ProductID.ToString()" type="submit"
                                           class="hidden"
                                           value="Удалить" />
                                }
                            </div>
                            <div class="pull-right"><a href="@Url.Action("Edit", "Admin", new { item.ProductID })" class="btn btn-product-header"><span class="glyphicon glyphicon-edit"></span></a></div>
                            <div class="pull-right"><b>Цена: </b>@item.Price.ToString("c")</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div id="collapse@(i)" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h5><b>Категория:</b></h5>
                            <p>@item.Category</p>
                            <hr />
                            <h5><b>Описание:</b></h5>
                            <p>@item.Description</p>
                            <hr />
                            <h5><b>Изображение:</b></h5>
                            <img class="img-responsive" src="@Url.Action("GetImage", "Product", new { productId = item.ProductID })" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-2">
            @Html.ActionLink("Добавить букет", "Create", null,
                            new { @class = "btn btn-success custom-btn" })
    </div>
</div>
