@model BouquetStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Fruit is Good | Оригинальные букеты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ваша корзина</h2>
<h3 class="text-center@(Model.Cart.Lines.Count() != 0 ? "hidden" : "")">Корзина пуста!</h3>
<table class="table @(Model.Cart.Lines.Count() == 0 ? "hidden" : "")">
  <thead>
    <tr>
      <th>Кол-во</th>
      <th>Букет</th>
      <th class="text-right">Цена</th>
      <th class="text-right">Подытог</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var item in Model.Cart.Lines)
  {
    <tr>
      <td>@item.Quantity</td>
      <td>@item.Product.Name</td>
      <td>@item.Product.Price.ToString("c")</td>
      <td>@((item.Product.Price * item.Quantity).ToString("c"))</td>
      <td>
        @using (Html.BeginForm("RemoveFromCart", "Cart"))
        {
          @Html.Hidden("ProductID", item.Product.ProductID)
          @Html.Hidden("isPromo", (item.Product.GetType() == typeof(BouquetStore.Domain.Entities.SeasonPromoProduct)))
          @Html.HiddenFor(x => x.ReturnUrl)
          <input class="btn btn-sm btn-warning"
                 type="submit" value="Remove" />
        }
      </td>
      <td>IsPromo? + @(item.Product.GetType() == typeof(BouquetStore.Domain.Entities.SeasonPromoProduct))</td>
    </tr>
    
  }
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="text-right">Total:</td>
      <td class="text-right">
        @Model.Cart.ComputeTotalValue().ToString("c")
      </td>
    </tr>
  </tfoot>
</table>
<div class="text-center">
  <a class="btn btn-primary" href="@(Model.ReturnUrl ?? Url.Action("Index", "Home"))">В магазин</a>
</div>

