@using BouquetStore.WebUI.Models
@using BouquetStore.Domain.Entities
@model ProductsListViewModel<Product>

@{
  ViewBag.Title = "Оригинальные букеты | Fruit is Good";
  AjaxOptions ajaxOpts = new AjaxOptions
  {
    UpdateTargetId = "cart-summary",
    OnBegin = "OnBegin",
    OnSuccess = "OnSuccess"
  };
}
<h2 class="text-center">Магазин</h2>
<div class="row">
      @Html.Action("ProductCategories", "Nav", new { caller = "Product", actionName = "List" })
</div>
<section id="grid-container">
  <div id="product-grid" class="row">
    @foreach (var item in Model.Products)
    {
      string name = item.Name;
      string price = item.Price.ToString("c0");
      string imgSrc = Url.Action("GetImage", "Product", new { productId = item.ProductID });
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 product-container">
        <div class="shop-item-img hidden-sm hidden-xs">
          <img src="@imgSrc" class="img-responsive center-block" alt="@name">
          <div class="shop-tools tools-floating text-center">
            <p></p>
            <button class="btn btn-default btn-open-description">
              Подробнее
              <div class="hidden product-modal-info">
                <div class="product-name">@name</div>
                <div class="product-category">@item.Category</div>
                <div class="product-description">@item.Description</div>
                <div class="product-price">@price</div>
                <div class="product-img-src">@imgSrc</div>
              </div>
            </button>
              @using (Ajax.BeginForm("AddToCart", "Cart", null, ajaxOpts, new { @class = "to-cart-form" }))
              {
                @Html.Hidden("productId", item.ProductID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                @Html.Hidden("isPromo", false)
                <button type="submit" class="btn btn-default btn-to-basket">В корзину</button>
              }
          </div>
        </div>
        <h5 class="text-center">@name</h5>
        <div class="shop-item-img hidden-md hidden-lg">
          <img src="@imgSrc" class="img-responsive center-block" alt="@name">
          <div class="shop-tools tools-sm text-center">
            <p>Цена: @price</p>
            <button class="btn btn-default btn-open-description">
              Подробнее
              <div class="hidden product-modal-info">
                <div class="product-name">@name</div>
                <div class="product-category">@item.Category</div>
                <div class="product-description">@item.Description</div>
                <div class="product-img-src">@imgSrc</div>
                <div class="product-price">@price</div>
              </div>
            </button>
            @using (Ajax.BeginForm("AddToCart", "Cart", null, ajaxOpts, new { @class = "to-cart-form" }))
            {
              @Html.Hidden("productId", item.ProductID)
              @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
              @Html.Hidden("isPromo", false)
              <button type="submit" class="btn btn-default btn-to-basket">В корзину</button>
            }
          </div>
        </div>
        <p class="text-center hidden-sm hidden-xs">@price</p>
      </div>
    }
  </div>
</section>

<section id="order-original-bouquet">
  <div class="text-center">
    <button class="btn btn-default btn-to-basket">ЗАКАЗАТЬ ОРИГИНАЛЬНЫЙ БУКЕТ</button>
  </div>
</section>